ul.nav.nav-list
  li.nav-header= username
  - activities.forEach(function(activity) {
    - slug = activity.title.toSlug()
    li
      != labelForStoryType(activity)
      != labelForStoryStatus(activity)
      a(href='#' + slug, name=slug)
        = activity.title
      .clear
  - })
