script
  $(function() {
    Application.Index.init()
  })

h1 PivotalTacker TimeTravel

#project-information
  span.icon-info-sign
  span
    = "&nbsp;"
    = "Project: " + config.projectId
    = ", Activities: " + activityCount

br
br

#layoutChooser
  | Choose a layout/focus:
  br
  select(name="layout", size="1")
    - boardLayouts.forEach(function(_boardLayout) {
      option(selected=(_boardLayout == boardLayout))= _boardLayout
    - })

#dataRangeSliderContainer
  #dataRangeSliderValue
    | Choose a time travel range:
    span
  #dataRangeSlider

#sprintStartContainer
  | Choose the start date of the current sprint:
  br
  input(type='text', name='sprintStart')

!= partial('index-layouts/' + boardLayout)
