script
  $(function() {
    Application.Index.init()
  })

h1 PivotalTacker TimeTravel

#project-information
  span.icon-info-sign
  span
    = "&nbsp;"
    = "Project: " + config.projectId
    = ", Activities: " + activityCount

br
br

#layoutChooser
  | Choose a layout/focus:
  br
  select(name="layout", size="1")
    option user
    option status

#dataRangeSliderContainer
  #dataRangeSliderValue
    | Choose a time travel range:
    span
  #dataRangeSlider



#users
  - config.usernames.split(',').forEach(function(username) {
    .well.activities(data-username=username.trim(), style="padding: 8px 0;")
    hr
  - })
