script
  $(function() {
    Application.Index.init()
  })

h1 PivotalTacker TimeTravel

#project-information
  span.icon-info-sign
  span
    = "&nbsp;"
    = "Project: " + config.projectId
    = ", Activities: " + activityCount

br
br

input(type="range", min="1", max="100", value="2", id="dateRangeSlider")

#users
  - config.usernames.split(',').forEach(function(username) {
    .well.activities(data-username=username.trim(), style="padding: 8px 0;")
    hr
  - })
