!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/styles.css')
    link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.8.19.custom.css')
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='/javascripts/jquery-ui-1.8.19.custom.min.js')
    script(src='/javascripts/jquery.cookie.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/application.js')

  body(class=(boardLayout || 'user'))
    .container!= body
