script
  $(function() {
    new Layout.ScrumBoard('#scrum-board-content').render()
  })

h1 PivotalTacker TimeTravel

#project-information
  span.icon-info-sign
  span
    = "&nbsp;"
    = "Project: " + config.projectId
    = ", Activities: " + activityCount

br * 2

#dataRangeSliderContainer
  #dataRangeSliderValue
    | Choose a time travel range:
    span
  #dataRangeSlider

#sprintStartContainer
  | Choose the start date of the current sprint:
  br
  input(type='text', name='sprintStart')

#scrum-board-content
