script
  $(function() {
    var sprintStart = new PivotalTimeTravel.SprintStart('#sprintStartContainer input')
    new PivotalTimeTravel.Layout.ScrumBoard('#scrum-board-content', sprintStart).render()
  })

h1 PivotalTacker TimeTravel

#project-information
  span.icon-info-sign
  span
    = "&nbsp;"
    - if (config.projectIds) {
      = "Projects: " + (config.projectIds.join(', '))
    - } else {
      = "Project: " + (config.projectId)
    - }
  br
  span.icon-info-sign
  span
    = "&nbsp;"
    = "Activities: " + activityCount

br * 2

#sprintStartContainer
  | Choose the start date of the current sprint:
  br
  input(type='text', name='sprintStart')

#scrum-board-content
