body {
  padding: 50px;
}

body > .container {
  width: auto !important;
}

#users .activities li:not(.nav-header) {
  padding: 5px 0px;
}

#users .activities li:not(.nav-header) .label {
  float: left;
  margin-right: 10px;
  width: 75px;
  text-align: center;
}

#users .activities li:not(.nav-header) a {
  margin: 0;
  padding: 0;
  float: left;
  padding: 2px 4px 3px;
}

.nav-header {
  font-size: 16px !important;
  padding: 0px  0px 10px 0px !important;
  margin: 0px 0px 10px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.clear {
  clear: both;
}

#dataRangeSliderContainer {
  margin: 20px 0px;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 28px;
}
