body {
  padding: 50px;

  > .container {
    width: auto !important;
  }

  &.state {
    #dataRangeSliderContainer { display: none; }
    #sprintStartContainer {
      display: block;
      input { width: 400px; }
    }
  }

  &.user {
    #dataRangeSliderContainer { display: block; }
    #sprintStartContainer { display: none; }
  }
}

#users {
  .activities {
    li:not(.nav-header) {
      padding: 5px 0px;

      .label {
        float: left;
        margin-right: 10px;
        width: 75px;
        text-align: center;
      }

      a {
        margin: 0;
        padding: 0;
        float: left;
        padding: 2px 4px 3px;
      }
    }
  }
}

.nav-header {
  font-size: 16px !important;
  padding: 0px  0px 10px 0px !important;
  margin: 0px 0px 10px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.clear {
  clear: both;
}

#dataRangeSliderContainer,
#layoutChooser,
#sprintStartContainer {
  margin: 20px 0px;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 28px;
}

#dataRangeSliderContainer {
  width: 400px;
}

#layoutChooser {
  float: right;
  text-align: right;
}

table.well {
  width: 100%;

  tr {
    td, th {
      border-bottom: 1px solid #ccc;
      padding: 5px;
      vertical-align: top;
    }
  }
}

.state, #scrum-board-content {
  table.well {
    td, th {
      width: 14%;
    }
  }
}

.state {
  .activity {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
    position: relative;
    margin-bottom: 5px;

    > a {
      display: block;
      margin-bottom: 10px;
    }

    .labels {
      position: relative;

      .label {
        margin-right: 5px;
      }
    }

    .story-type {
      text-transform: uppercase;
      font-size: 20px;
      background: none;
      position: absolute;
      right: -6px;
      color: whiteSmoke;
      bottom: -5px;
    }

    &.feature {
      background-color: rgba(69,102, 52, 0.4)
    }

    &.bug {
      background-color: rgba(200, 10, 10, 0.4)
    }

    &.chore {
      background-color: rgba(100, 100, 100, 0.3)
    }
  }
}

